body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: beige;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}
.task-card-pastdue {
  background-color: rgba(207, 73, 73, 0.896);
}
.task-card-almost-due {
  background-color: rgba(182, 216, 79, 0.896);
}
